.scroll-top {
	text-align: center
}
.btn:active:focus, .btn:focus {
	outline: 0
}
ul {
	list-style: none
}
html {
	font-size: 100%
}
body {
	background-color: #fff;
	font-family: Hind, Arial, serif;
	line-height: 1.85;
	font-weight: 400;
	font-size: 15px;
	color: #999;
	-ms-overflow-style: scrollbar;
	overflow-x: hidden
}
img {
	max-width: 100%;
	height: auto
}
::-moz-selection {
	background: #4a90e2;
	color: #fff!important
}
::-webkit-selection {
	background: #4a90e2;
	color: #fff!important
}
.wrapper {
	position: relative
}
body .layout, html .layout {
	height: 100%;
	min-height: 100%;
	width: 100%
}
.layout {
	opacity: 1
}
.scroll-top {
	background: #4a90e2;
	border-radius: 20px;
	position: fixed;
	bottom: 14px;
	right: 20px;
	height: 40px;
	width: 40px;
	z-index: 9;
	line-height: 40px;
	font-size: 15px;
	color: #fff;
	-webkit-transition: .5s all ease;
	transition: .5s all ease;
	-webkit-transform: translateY(86px);
	transform: translateY(86px)
}
.scroll-top:focus, .scroll-top:hover {
	color: #fff
}
@media (max-width:767px) {
	.scroll-top {
		display: none
	}
}
a {
	color: #4a90e2;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
a:focus, a:hover {
	outline: 0;
	text-decoration: none;
	color: #2275d7
}
h1, h6, p, ul {
	margin: 0 0 20px
}
h6 {
	margin: 0 0 10px
}
.h1, h1, h6 {
	font-family: Poppins, Arial, serif;
	line-height: 1.2;
	font-weight: 700;
	color: #313131
}
.font-serif {
	font-family: Lora, "Libre Baskerville", serif
}
.h1, h1 {
	font-size: 40px
}
h6 {
	font-weight: 500;
	font-size: 12px
}
.font-serif {
	font-style: italic
}
ul {
	padding-left: 0
}
ul>li {
	margin: 0 0 5px
}
.form-control {
	border-color: #eee
}
.btn, .form-control {
	font-family: Poppins, Arial, serif
}
.btn.btn-brand {
	background-color: #4a90e2
}
.btn, .form-control {
	letter-spacing: .09375rem
}
.form-control {
	box-shadow: none;
	border-radius: 2px;
	border-width: 1px;
	text-transform: uppercase;
	font-size: .625rem;
	padding: 1rem .9375rem
}
.form-control:focus {
	border-color: #eee;
	box-shadow: none
}
.btn {
	border-width: 2px;
	border-radius: 0;
	text-transform: uppercase;
	font-weight: 600;
	font-size: .625rem;
	padding: .9375rem 1.75rem;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out
}
.btn.btn-round {
	border-radius: 2px
}
.btn.btn-brand {
	border-color: #4a90e2;
	color: #fff
}
.btn.btn-brand:focus, .btn.btn-brand:hover {
	background-color: #277adc;
	border-color: #277adc;
	color: #fff
}
.icon-box {
	padding: 35px 0
}
.icon-box:hover .icon-box-icon {
	-webkit-transform: scale(1.05);
	transform: scale(1.05)
}
.icon-box-icon {
	font-size: 38px;
	font-size: 56px;
	color: #4a90e2;
	margin: 0 0 10px;
	-webkit-transition: all .4s linear;
	transition: all .4s linear
}
.icon-box-title h6 {
	font-size: 15px;
	margin: 0 0 15px
}
.icon-box-content>:last-child {
	margin-bottom: 0
}
.icon-box-link {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 11px;
	margin-top: 15px
}
body:after {
	position: fixed;
	right: 0;
	z-index: 9998;
	left: 0;
	bottom: 0
}
body:after {
	background: rgba(0, 0, 0, .7);
	height: 1px;
	width: 1px;
	top: -1px;
	content: " ";
	opacity: 0;
	-webkit-transition: opacity .2s cubic-bezier(.785, .135, .15, .86);
	transition: opacity .2s cubic-bezier(.785, .135, .15, .86);
	cursor: pointer;
	cursor: url(../images/close.png), pointer
}
.layout {
	position: relative;
	-webkit-transition: left .2s cubic-bezier(.645, .045, .355, 1), 1.7s opacity ease;
	transition: left .2s cubic-bezier(.645, .045, .355, 1), 1.7s opacity ease;
	left: 0
}
.header.header-center .inner-nav {
	text-align: center
}
.header, .inner-nav, .inner-navigation {
	width: 100%
}
.header {
	background: 0 0;
	position: fixed;
	z-index: 1040;
	height: 81px;
	padding: 0 40px;
	left: 0;
	-webkit-transition: height .3s ease-out, background .3s ease-out, box-shadow .5s, left .2s cubic-bezier(.645, .045, .355, 1), -webkit-transform .5s;
	transition: height .3s ease-out, background .3s ease-out, box-shadow .5s, left .2s cubic-bezier(.645, .045, .355, 1), -webkit-transform .5s;
	transition: height .3s ease-out, background .3s ease-out, transform .5s, box-shadow .5s, left .2s cubic-bezier(.645, .045, .355, 1);
	transition: height .3s ease-out, background .3s ease-out, transform .5s, box-shadow .5s, left .2s cubic-bezier(.645, .045, .355, 1), -webkit-transform .5s;
	box-shadow: none;
	font-family: Poppins, Arial, serif;
}
.header .container-fluid {
	position: relative;
	display: table;
	height: 100%
}
.inner-nav {
	position: relative
}
.inner-navigation {
	display: table-cell;
	height: 100%
}
.inner-navigation-inline {
	display: inline-table;
	height: 100%;
	width: 100%
}
.inner-nav {
	display: table-cell;
	height: 100%
}
.inner-nav>ul {
	list-style: none;
	height: 100%;
	padding: 0;
	margin: 0
}
.inner-nav>ul>li {
	position: relative;
	display: inline-block;
	height: 100%;
	margin: 0 24px 0 0
}
.inner-nav>ul>li:last-child {
	margin-right: 0
}
.inner-nav>ul>li>a {
	display: block;
	text-transform: uppercase;
	letter-spacing: .7px;
	line-height: 24px;
	font-weight: 600;
	font-size: 12px;
	height: 100%
}
.inner-nav>ul>li>a::after, .inner-nav>ul>li>a::before {
	content: "";
	display: block;
	height: 50%;
	height: calc(50% - 12px)
}
.header .inner-nav>ul>li>a:focus, .header .inner-nav>ul>li>a:hover {
	opacity: .8
}
.header .inner-nav>ul>li>a {
	color: #dbdde0;
}
@media (min-width:992px) {
	.inner-navigation.collapse {
		display: table-cell!important
	}
}
@media (max-width:991px) {
	.inner-nav ul>li a::after, .inner-nav ul>li a::before {
		content: none
	}
	.header {
		background-color: #fff;
		padding: 0
	}
	.header .container-fluid {
		width: 100%;
		padding: 0 30px
	}
	.header.header-center .inner-nav {
		text-align: left
	}
	.inner-nav, .inner-navigation, .inner-navigation-inline {
		height: auto
	}
	.inner-nav {
		display: block
	}
	.inner-nav ul>li {
		display: block;
		height: auto;
		margin: 0
	}
	.inner-nav ul>li a {
		position: relative;
		display: block;
		text-transform: uppercase;
		letter-spacing: .7px;
		line-height: 24px;
		font-weight: 600;
		font-size: 12px;
		color: #fff;
		padding: 8px 0
	}
	.inner-nav ul>li a:focus, .inner-nav ul>li a:hover {
		opacity: .8;
		color: #fff
	}
	.inner-navigation {
		position: absolute;
		background-color: #1b1d1f;
		max-height: 340px;
		width: 100%;
		left: 0;
		top: 100%
	}
	.inner-navigation.collapse {
		display: none
	}
	.inner-navigation-inline {
		padding: 30px;
		display: block
	}
	.header .inner-nav>ul>li>a {
		color: #fff
	}
	.header .inner-nav>ul>li>a:focus, .header .inner-nav>ul>li>a:hover {
		opacity: .8
	}
}
.module-header {
	text-align: center
}
.bg-dark-60:before {
	content: "";
	left: 0
}
@media (max-width:767px) {
	.inner-navigation-inline {
		display: block
	}
}
.module, .module-header {
	background-color: #f7f7f7;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 250px 0
}
.module {
	background-color: #fff;
	padding: 30px 0
}
.module-gray {
	background-color: #f7f7f7
}
.module-header .container {
	position: relative;
	z-index: 2
}
.parallax {
	background-color: transparent!important
}
.module-header .container>.row>[class*=col-]>:last-child {
	margin-bottom: 0
}
.module-header h1 {
	color: #313131;
	margin: 0
}
.module-header h1.h1 {
	font-size: 70px
}
@media (max-width:992px) {
	.wrapper {
		padding-top: 81px
	}
	.module-header {
		height: auto;
		min-height: auto;
		padding: 40px 0
	}
	.module-header h1.h1 {
		font-size: 56px
	}
}
@media (max-width:767px) {
	.module-header h1.h1 {
		font-size: 42px
	}
}
@media (max-width:568px) {
	.module-header h1.h1 {
		font-size: 35px
	}
}
.bg-dark, .bg-dark .h1, .bg-dark h1 {
	color: #fff
}
.module-title {
	margin: 0 0 70px
}
.module-title p {
	font-size: 16px
}
.bg-dark-60:before {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0
}
.bg-dark-60:before {
	background: rgba(34, 34, 34, .6);
	top: 0
}